// Place all the styles related to the Labels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,
body,
div,
li,
ul {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.bg_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg_show {
  // 背景图片
  position: relative;
  background-image: url("bg2.png");
  background-size: 100% 100%;
  width: 200%;
  height: 100%;
  left: 0px;
  -webkit-transition: left 1s ease-out;
  -moz-transition: left 1s ease-out;
  -ms-transition: left 1s ease-out;
  -o-transition: left 1s ease-out;
  transition: left 1s ease-out;

}

.label_tag {
  // 标签通用规则
  background-image: url("label2.png");
  position: absolute;
  width: 150px;
  height: 160px;
  background-color: #ffd81e;
  left: 0;
  top: 80px;
  z-index: 2;
  float: left;
  opacity: 1;
  font-size: 14px;
  background-size: 100% 100%;


}
.label_transform{
  // 用于 添加使用
  -webkit-transition: height 1s, width 1s, left 1s, top 1s,/* opacity 1s,*/ transform 1s, font-size 1s;
  -moz-transition: height 1s, width 1s, left 1s, top 1s,/* opacity 1s,*/ transform 1s, font-size 1s;
  -ms-transition: height 1s, width 1s, left 1s, top 1s,/* opacity 1s,*/ transform 1s, font-size 1s;
  -o-transition: height 1s, width 1s, left 1s, top 1s,/* opacity 1s,*/ transform 1s, font-size 1s;
  transition: height 1s, width 1s, left 1s, top 1s,/* opacity 1s,*/ transform 1s, font-size 1s;
}
#label_action{
  // 不知道....
}

.mouseMove {
  // 无实际意义
  // 只是作为标记
  margin: 0px;
}

//
.user_module_button {
  position: absolute;
  z-index: 10;
  left: 20px;
  top: 20px;
}

/*
change bootstrap things
*/
#modalUserModel {
  margin-left: 0px;
  width: 400px;
}

.add_label_button {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 20px;
}

.label_tag .label_button_list {
  width: 100%;

  .close_button {
    float: right;
  }
}

.label_tag .label_main {
  width: 80%;
  height: 70%;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.label_templets{
  top: 80px;
  display: none;
}
.fade_bg{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: background-color 1s, z-index 1s, opacity 1s;
  -moz-transition: background-color 1s, z-index 1s, opacity 1s;
  -ms-transition: background-color 1s, z-index 1s, opacity 1s;
  -o-transition: background-color 1s, z-index 1s, opacity 1s;
  transition: background-color 1s, z-index 1s, opacity 1s;
}

.save_button{
  // 原始的
  display: none;
}

.dis_select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.change_setting{
  margin-left: auto;
  margin-right: 100px;
  margin-top: 100px;
  width: 300px;
  height: 500px;
  color: #FFF;
  // 消除 透明
  opacity: 1;
  background-color: #000;
}
.labelBig{
  font-size: 18px;
}

.change_opacity{
  margin-top: 30px;
}
.change_label_ground{
  .col-sm-3{
    height: 80px;
  }
}.labelTagAdded{
   background-image: url('label1.png');
   background-size: 100% 100%;
 }
.change_main_ground{
  position: absolute;
  z-index: 10;
  right: 10px;
  bottom: 20px;
}
.bg_image_id{
  margin: 5px;
}
.change_color{
  margin-top: 20px;
}
img{
  width: 100%;
}